In [72]:
import pandas as pd
import statistics
import numpy as np

# Declaration
# Descriptive Statistic for Analyzed Aboard and Ground Impacted
data = pd.read_csv("Airplane_crashes_dataset_since_1908.csv", encoding="ISO-8859-1")

# Numeric Columns that may contain "?"
ratio_column = ['all_aboard','passengers_aboard','crew_aboard','all_fatalities','passenger_fatalities','crew_fatalities','ground']

# Replace "?" with NaN and convert to numeric
for dt in ratio_column:
    data[dt] = pd.to_numeric(data[dt].replace("?", np.nan), errors='coerce')

# Extract country from location
data['country'] = data['location'].str.split(', ').str[-1]

# Drop rows with NaN in the 'all_aboard' column
data = data.dropna(subset=['all_aboard','passengers_aboard','crew_aboard','all_fatalities','passenger_fatalities','crew_fatalities','ground'])
countries = data['country'].unique().tolist()

results = []

# Calculate statistics by country
for country in countries:
    country_data = data[data['country'] == country]

    min_all_aboard = country_data['all_aboard'].min()
    max_all_aboard = country_data['all_aboard'].max()
    min_passengers_aboard = country_data['passengers_aboard'].min()
    max_passengers_aboard = country_data['passengers_aboard'].max()
    min_crew_aboard = country_data['crew_aboard'].min()
    max_crew_aboard = country_data['crew_aboard'].max()
    min_all_fatalities = country_data['all_fatalities'].min()
    max_all_fatalities = country_data['all_fatalities'].max()
    min_passenger_fatalities = country_data['passenger_fatalities'].min()
    max_passenger_fatalities = country_data['passenger_fatalities'].max()
    min_crew_fatalities = country_data['crew_fatalities'].min()
    max_crew_fatalities = country_data['crew_fatalities'].max()
    min_ground = country_data['ground'].min()
    max_ground = country_data['ground'].max()
    
    results.append({
        'Location': country,
        'Min All Aboard': min_all_aboard,
        'Max All Aboard': max_all_aboard,
        'Min Passenger Aboard': min_passengers_aboard,
        'Max Passenger Aboard': max_passengers_aboard,
        'Min Crew Aboard': min_crew_aboard,
        'Max Crew Aboard': max_crew_aboard,
        'Min All Fatalities': min_all_fatalities,
        'Max All Fatalities': max_all_fatalities,
        'Min Passenger Fatalities': min_passenger_fatalities,
        'Max Passenger Fatalities': max_passenger_fatalities,
        'Min Crew Fatalities': min_crew_fatalities,
        'Max Crew Fatalities': max_crew_fatalities,
        'Min Ground': min_ground,
        'Max Ground': max_ground,
    })

# Create DataFrame and sort by Country
res_df = pd.DataFrame(results)
res_df = res_df.sort_values(by='Location', ascending=True)

# Clean the Location Name
res_df['Location'] = res_df['Location'].str.strip().str.lower()

# Group by the cleaned 'Country' column and calculate aggregated statistics
grouped_df = res_df.groupby('Location').agg({
    'Min All Aboard': 'min',
    'Max All Aboard': 'max',
    'Min Passenger Aboard': 'min',
    'Max Passenger Aboard': 'max',
    'Min Crew Aboard': 'min',
    'Max Crew Aboard': 'max',
    'Min All Fatalities': 'min',
    'Max All Fatalities': 'max',
    'Min Passenger Fatalities': 'min',
    'Max Passenger Fatalities': 'max',
    'Min Crew Fatalities': 'min',
    'Max Crew Fatalities': 'max',
    'Min Ground': 'min',
    'Max Ground': 'max',
}).reset_index()

grouped_df['Location'] = grouped_df['Location'].str.title()
grouped_df

,Location,Min All Aboard,Max All Aboard,Min Passenger Aboard,Max Passenger Aboard,Min Crew Aboard,Max Crew Aboard,Min All Fatalities,Max All Fatalities,Min Passenger Fatalities,Max Passenger Fatalities,Min Crew Fatalities,Max Crew Fatalities,Min Ground,Max Ground
0,110 Miles West Of Ireland,329.0,329.0,307.0,307.0,22.0,22.0,329.0,329.0,307.0,307.0,22.0,22.0,0.0,0.0
1,175 Miles Off The Egyptian Coast,66.0,66.0,56.0,56.0,10.0,10.0,66.0,66.0,56.0,56.0,10.0,10.0,0.0,0.0
2,325 Miles East Of Wake Island,58.0,58.0,50.0,50.0,8.0,8.0,58.0,58.0,50.0,50.0,8.0,8.0,0.0,0.0
3,800 Miles East Of Newfoundland,69.0,69.0,62.0,62.0,7.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,?,2.0,10.0,0.0,8.0,2.0,3.0,1.0,10.0,0.0,8.0,1.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,Yukon Territory,44.0,44.0,36.0,36.0,8.0,8.0,44.0,44.0,36.0,36.0,8.0,8.0,0.0,0.0
498,Zaire,6.0,45.0,0.0,42.0,1.0,7.0,2.0,45.0,0.0,42.0,0.0,7.0,0.0,225.0
499,Zambia,6.0,29.0,1.0,24.0,5.0,5.0,6.0,29.0,1.0,24.0,5.0,5.0,0.0,0.0
500,Zimbabwe,3.0,26.0,0.0,21.0,2.0,5.0,1.0,6.0,0.0,4.0,1.0,3.0,0.0,0.0
501,Zimbabwe),70.0,70.0,63.0,63.0,7.0,7.0,3.0,3.0,3.0,3.0,0.0,0.0,0.0,0.0